@charset "UTF-8";
/* CSS Document */

main{
    width: 100%; min-height: 500px;
}

.gach-chan{
    border-bottom: 3px solid darkred;
}

.text-do{
    color: darkred;
}

.vien{
    border: 1px solid darkred; padding: 15px; border-radius: 7px; position: relative; overflow: hidden;
}

.icon{
    width: 80%; height: 45px; position: absolute; left: 10%; top: -15%; display: flex; justify-content: space-around; transition: all 1s;
}

.icon a{
    height: 45px; width: 45px; background-color: darkred; border-radius: 50%; display: flex; justify-content: center; align-items: center; text-decoration: none; color: white;
}

.icon a:hover{
    background-color: rgba(213,213,213,1.00); color: darkred;
}

.vien:hover .icon{
    top: 40%;
}

#feature{
    width: 100%; min-height: 600px; background-image: url("../img/bg2.png"); background-repeat: no-repeat; background-size: cover; background-position: bottom center;
}

.pt-30{
    padding-top: 50px;
}

.vien-trang{
    border: 1px solid white; text-align: center; padding: 20px; color: darkred;
}

.vien-trang a{
    text-decoration: none; color: darkred;
}

.vien-trang a:hover{
    color: white;
}

#contact{
    width: 100%; min-height: 600px; background-image: url("../img/Banner2.png"); background-repeat: no-repeat; background-size: cover; background-position: center center;
}

.shadow{
    min-height: 300px; border: 1px solid #c7c7cc7; box-shadow: 5px 5px 5px gray; padding: 40px;
}

.form-control{
    padding: 8px; width: 100%; margin-bottom: 10px;
}

header{
    width: 100%; height: 60px; margin: auto;
}

.logo{
    width: 100px; padding-top: 20px; 
}

.menu{
    padding-top: 18px; 
}

.menu ul{
    margin: 0; padding: 0; list-style: none; display: flex;
}

.menu ul li a{
    padding: 10px 20px; text-decoration: none; font-size: 17px; color: #818181; border-radius: 20px;
}

.menu ul li a:hover{
    background-color: #9E4F2E; color: white;
}

#slide1 .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slide1 .owl-dots .owl-dot span {
      width: 12px;
      height: 12px;
}

#slide .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slide .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #fff
}

#slide .owl-nav .owl-next{ position:absolute; right:5%;}
#slide .owl-nav .owl-prev{ position:absolute; left:5%;}
#slide .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color: #9E4F2E;
      text-decoration: none; }